<div class="container">
    <div class="col-md-6" style="margin-left: auto; margin-right: auto;">
        <div class="Content-wrapper">
            <div class="row">
                <div class="col-sm-6" style="margin-right: auto; margin-left: auto;">
                  <a   href="https://www.ou.ac.lk">
                      <img src="../assets/Images/logo.jpg" style="display: block;margin-left: auto;margin-right: auto;" class="" alt=""  height="75" width="150"> 
                  </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Please log in to continue with your application</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="">
                        <div class="form-group">
                            <label for="user">User Name <span class="astric">*</span></label> 
                            <input type="text" class="form-control form-control-sm input-type">
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span class="astric">*</span></label>
                            <input type="password" id="password" class="form-control form-control-sm input-type">
                            <input type="checkbox" class="check" id="checkBox" onclick="showPassword()">
                            <label for="checkBox">Show Password</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-continue" type="submit">Sign in</button>
                            <a href="" routerLinkActive="active" style="float: right;" class="btn btn-sm btn-link" >Forgot password?</a>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>
  

