<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="Content-wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <button id="printButton1" class="btn btn-primary" data-target="#customerModal" data-toggle="modal">Add New</button>
                    </div>
                    <div class="col-md-9">
                        <input id="printInput" type="text" class="form-control-sm form-control" [(ngModel)]="searchText" placeholder="Search Customer" >
                    </div>
                </div>        
<br>
            </div>
        </div>
    </div>
    <br>
    <div class="row jumbotron" style="overflow: auto;">
        <div class="col-sm-12">
            <h3 style="text-align: center;"><hr> Customers <hr></h3>
            <br>
            <div *ngIf="total!=0">
                <table id="tableDatas" matSort (matSortChange)="sortData($event)">
                    <thead>
                        <tr>
                            <th mat-sort-header="name">Name</th>
                            <th mat-sort-header="phone">Phone</th>
                            <th mat-sort-header="mail">Email</th>
                            <th mat-sort-header="address">Address</th>
                            <th mat-sort-header="account">Account</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let table of sortedData  | filter:searchText | paginate:{itemsPerPage:itemsPerPage,currentPage:p,totalItems: total}; let i = index">
                            <td>{{table.name}}</td>
                            <td>{{table.phone}}</td>
                            <td>{{table.mail}}</td>
                            <td>{{table.address}}</td>
                            <td>{{table.account}}</td>
                            <td>
                                <i class="fa pointer fa-list-alt" (click)="onNavigate(table.customerId)"></i>&nbsp;&nbsp;
                                <i class="fa pointer fa-edit" (click)="onEdit(table.customerId,i)" data-target="#customerEditModal" data-toggle="modal"></i>&nbsp;&nbsp;
                                <i class="fa pointer fa-trash" (click)="onDelete(table.customerId)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4" style="padding-right: 0px; padding-left: 15px;">
                                <label for="">Items per page</label>
                            </div>
                            <div class="col-sm-4">
                                <select [(ngModel)]="itemsPerPage" style="padding-left: 8px;width: 68px;" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <pagination-controls  (pageChange)="p=$event"></pagination-controls>
                    </div>
                    <div class="col-sm-2 text-right">
                        Total Customers - {{total}}
                    </div>
                </div> 
            </div>
            <div *ngIf="total==0">
                <div class="text-center" >
                    <h1>No Results Found</h1>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- Customer Modal -->
    <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
      
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="" name="customerForm" [formGroup]="customerForm">
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input type="text" class="form-control" formControlName="customerName" [ngClass]="{'is-invalid':customerForm.get('customerName').touched && customerForm.get('customerName').invalid}">
                        <div *ngIf="customerForm.get('customerName').touched&&customerForm.get('customerName').invalid" class="invalid-feedback">
                            <div *ngIf="customerForm.get('customerName').errors.required">Customer Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerAddress">Customer Address</label>
                        <input type="text" class="form-control" formControlName="customerAddress">
                    </div>
                    <div class="form-group">
                        <label for="customerTelNo">Customer Phone Number</label>
                        <input type="text" class="form-control" formControlName="customerTelNo"  [ngClass]="{'is-invalid':customerForm.get('customerTelNo').touched && customerForm.get('customerTelNo').invalid}">
                        <div *ngIf="customerForm.get('customerTelNo').touched&&customerForm.get('customerTelNo').invalid" class="invalid-feedback">
                            <div *ngIf="customerForm.get('customerTelNo').errors.required" >Customer Phone Number is required</div>
                            <div *ngIf="customerForm.get('customerTelNo').errors.customerTelNoIsNotAllowed" >Phone Number must be uniqueness</div>
                            <div *ngIf="customerForm.get('customerTelNo').errors.pattern" >Invalid Phone Number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerEmail">Customer Email</label>
                        <input type="text" class="form-control" formControlName="customerEmail"  [ngClass]="{'is-invalid':customerForm.get('customerEmail').touched && customerForm.get('customerEmail').invalid}">
                        <div *ngIf="customerForm.get('customerEmail').touched&&customerForm.get('customerEmail').invalid" class="invalid-feedback">
                            <div *ngIf="customerForm.get('customerEmail').errors.required" >Customer Email is required</div>
                            <div *ngIf="customerForm.get('customerEmail').errors.customerEmailIsNotAllowed" >Email must be uniqueness</div>
                            <div *ngIf="customerForm.get('customerEmail').errors.email" >Invalid Email</div>
                        </div>
                    </div>
                </form>
            </div>
      
        <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!customerForm.valid" (click)="createNewCustomer()">Add New</button>
                    &nbsp;<button class="btn btn-secondary" data-dismiss="modal">Exit</button>
                </div>
            </div>
          </div>
        </div>
      </div>

          <!-- Supplier Modal -->
    <div class="modal fade" id="customerEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
      
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="" name="customerEditForm" [formGroup]="customerEditForm">
                    <div class="form-group">
                        <label for="customerEditName">Customer Name</label>
                        <input type="text" class="form-control" formControlName="customerEditName" [ngClass]="{'is-invalid':customerEditForm.get('customerEditName').touched && customerEditForm.get('customerEditName').invalid}">
                        <div *ngIf="customerEditForm.get('customerEditName').touched&&customerEditForm.get('customerEditName').invalid" class="invalid-feedback">
                            <div *ngIf="customerEditForm.get('customerEditName').errors.required">Customer Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerEditAddress">Customer Address</label>
                        <input type="text" class="form-control" formControlName="customerEditAddress">
                    </div>
                    <div class="form-group">
                        <label for="customerEditTelNo">Customer Phone Number</label>
                        <input type="text" class="form-control" formControlName="customerEditTelNo"  [ngClass]="{'is-invalid':customerEditForm.get('customerEditTelNo').touched && customerEditForm.get('customerEditTelNo').invalid}">
                        <div *ngIf="customerEditForm.get('customerEditTelNo').touched&&customerEditForm.get('customerEditTelNo').invalid" class="invalid-feedback">
                            <div *ngIf="customerEditForm.get('customerEditTelNo').errors.required" >Customer Phone Number is required</div>
                            <div *ngIf="customerEditForm.get('customerEditTelNo').errors.pattern" >Invalid Phone Number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerEditEmail">Customer Email</label>
                        <input type="text" class="form-control" formControlName="customerEditEmail"  [ngClass]="{'is-invalid':customerEditForm.get('customerEditEmail').touched && customerEditForm.get('customerEditEmail').invalid}">
                        <div *ngIf="customerEditForm.get('customerEditEmail').touched&&customerEditForm.get('customerEditEmail').invalid" class="invalid-feedback">
                            <div *ngIf="customerEditForm.get('customerEditEmail').errors.required" >Supplier Email is required</div>
                            <div *ngIf="customerEditForm.get('customerEditEmail').errors.email" >Invalid Email</div>
                        </div>
                    </div>
                </form>
            </div>
      
        <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!customerEditForm.valid" (click)="updateCustomer()">Update</button>
                    &nbsp;<button class="btn btn-secondary" data-dismiss="modal">Exit</button>
                </div>
            </div>
          </div>
        </div>
      </div>
