<div *ngIf="!spinnerOn" class="container">
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <div class="jumbotron">
                <h3 style="text-align: center;"><hr>Sign Up<hr></h3>
                <form action="" name="form" [formGroup]="form">
                    <div class="form-group">
                        <label for="name">Name with initial</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="A.R.M Rifkhan" [ngClass]="{'is-invalid':form.get('name').touched && form.get('name').invalid}">
                        <div *ngIf="form.get('name').touched && form.get('name').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('name').errors?.required">name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nic">National identity card number</label>
                        <input type="text" class="form-control" formControlName="nic" [ngClass]="{'is-invalid':form.get('nic').touched && form.get('nic').invalid}">
                        <div *ngIf="form.get('nic').touched && form.get('nic').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('nic').errors?.required">nic is required</div>
                            <div *ngIf="form.get('nic').errors?.userNicIsNotAllowed">nic is already exist!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" formControlName="address" [ngClass]="{'is-invalid':form.get('address').touched && form.get('address').invalid}">
                        <div *ngIf="form.get('address').touched && form.get('address').invalid" class="invalid-feedback">
                            <div *ngIf="form.get('address').errors?.required">address is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city">Town</label>
                        <select name="town" id="" class="form-control" formControlName="town" [ngClass]="{'is-invalid':form.get('town').touched && form.get('town').invalid}">
                            <option *ngFor="let town of Towns" value={{town.cityId}}>{{town.cityName}}</option>
                        </select>
                        <div *ngIf="{'is-invalid':form.get('town').touched && form.get('town').invalid}" class="invalid-feedback">
                            <div *ngIf="form.get('town').errors?.required">town is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
                        <div *ngIf="{'is-invalid':form.get('email').touched && form.get('email').invalid}" class="invalid-feedback">
                            <div *ngIf="form.get('email').errors?.required">e-mail is required</div>
                            <div *ngIf="form.get('email').errors?.userEmailIsNotAllowed">e-mail is already exist!</div>
                            <div *ngIf="form.get('email').errors?.email">invalid e-mail</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile number</label>
                        <input type="text" class="form-control" formControlName="mobile" [ngClass]="{'is-invalid':form.get('mobile').touched && form.get('mobile').invalid}">
                        <div *ngIf="{'is-invalid':form.get('mobile').touched && form.get('mobile').invalid}" class="invalid-feedback">
                            <div *ngIf="form.get('mobile').errors?.required">mobile number is required</div>
                            <div *ngIf="form.get('mobile').errors?.pattern">invalid mobile number</div>
                            <div *ngIf="form.get('mobile').errors?.userPhoneIsNotAllowed">mobile number is already exist!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="land">Land phone number</label>
                        <input type="text" class="form-control" formControlName="land" [ngClass]="{'is-invalid':form.get('land').touched && form.get('land').invalid}">
                        <div *ngIf="{'is-invalid':form.get('land').touched && form.get('land').invalid}" class="invalid-feedback">
                            <div *ngIf="form.get('land').errors?.pattern">invalid land number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fax">Fax number</label>
                        <input type="text" class="form-control" formControlName="fax" [ngClass]="{'is-invalid':form.get('fax').touched && form.get('fax').invalid}">
                        <div *ngIf="{'is-invalid':form.get('fax').touched && form.get('fax').invalid}" class="invalid-feedback">
                            <div *ngIf="form.get('fax').errors?.pattern">invalid fax number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary pull-right" (click)="onRegister()" [disabled]="!form.valid">Register</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="spinnerOn" class="container" >
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="Content-wrapper">
                <div id="spinner" >
                    <div id="spinner_content">
                        <div class="col-sm-12 mx-auto">
                            <div class="form-group" style="text-align: center;">
                                <h2>Please wait...</h2>
                                <img src="assets/Images/spinner.gif"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>