<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="Content-wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-primary" data-target="#branchModal" data-toggle="modal" (click)="addNewModal()">Add New</button>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control-sm form-control" [(ngModel)]="searchText"  placeholder="Search Branch" >
                    </div>
                </div>        
<br>
            </div>
        </div>
    </div>
<br>
    <div class="row jumbotron " style="overflow: auto;">
        <div class="col-sm-12">
            <h3 style="text-align: center; "><hr> Branches <hr></h3>
            <br>
            <div *ngIf="total!=0">
                <table id="tableDatas" matSort (matSortChange)="sortData($event)"  >
                    <thead>
                        <tr>
                            <th mat-sort-header="name">Name</th>
                            <th mat-sort-header="address">Address</th>
                            <th mat-sort-header="phoneNo">Phone</th>
                            <th mat-sort-header="email">Email</th>
                            <th mat-sort-header="faxNo">Fax</th>
                            <th>Unit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let table of sortedData  | filter:searchText | paginate:{itemsPerPage:itemsPerPage,currentPage:p,totalItems: total}; let i = index">
                            <td>{{table.name}}</td>
                            <td>{{table.address}}</td>
                            <td>{{table.phoneNo}}</td>
                            <td>{{table.email}}</td>
                            <td>{{table?.faxNo ||"null"}}</td>
                            <td>
                                <div *ngIf="table.unit!=[]">
                                    <div *ngFor="let unit of table.unit">{{unit?.name ||"null"}}</div>
                                </div>
                            </td>
                            <td>
                                <i class="fa pointer fa-edit" (click)="onEdit(table.branchId)" data-target="#branchEditModal" data-toggle="modal"></i>&nbsp;&nbsp;
                                <i class="fa pointer fa-trash" (click)="onPass(table.branchId)" data-target="#deleteModal" data-toggle="modal" ></i>
                            </td>
                        </tr>
                    </tbody>
<br>
                </table>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4" style="padding-right: 0px; padding-left: 15px;">
                                <label for="">Items per page</label>
                            </div>
                            <div class="col-sm-4">
                                <select [(ngModel)]="itemsPerPage" style="padding-left: 8px;width: 68px;" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <pagination-controls  (pageChange)="p=$event"></pagination-controls>
                    </div>
                    <div class="col-sm-2 text-right">
                        Total Branches - {{total}}
                    </div>
                </div> 
            </div>
            <div *ngIf="total==0" >
                <div class="text-center" >
                    <h1>No Results Found</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Branch Modal -->
<div class="modal fade" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
  
        <!-- Modal Body -->
        <div class="modal-body">
            <form action="" name="branchForm" [formGroup]="branchForm">
                <div class="form-group">
                    <label for="branchUnit">Branch Unit</label>
                    <div class="row">
                        <div class="col-8">
                            <!-- <select  name="" id="" class="form-control" formControlName="branchUnit">
                                <option *ngFor="let unit of getAllUnits" value={{unit.unitId}}>{{unit.name}}</option>
                            </select> -->
                            <tag-input [(ngModel)]="unitsValues" [ngModelOptions]="{standalone: true}"  [removable]='true' placeholder="" [clearOnBlur]="true" secondaryPlaceholder="Enter Units..." clearOnBlur="true" [onlyFromAutocomplete]="true">
                                
                                    <tag-input-dropdown [showDropdownIfEmpty]="true" [appendToBody]="false"  [autocompleteItems]="allUnitName" ></tag-input-dropdown>
                               
                            </tag-input>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary" data-target="#unitModal" data-toggle="modal" data-dismiss="modal">Add New Unit</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="branchName">Branch Name</label>
                    <input type="text" class="form-control" formControlName="branchName" [ngClass]="{'is-invalid':branchForm.get('branchName').touched && branchForm.get('branchName').invalid}">
                    <div *ngIf="branchForm.get('branchName').touched&&branchForm.get('branchName').invalid" class="invalid-feedback">
                        <div *ngIf="branchForm.get('branchName').errors.required" >Branch Name is required</div>
                        <div *ngIf="branchForm.get('branchName').errors.branchNameIsNotAllowed" >Branch Name must be uniqueness</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="branchAddress">Branch Address</label>
                    <input type="text" class="form-control" formControlName="branchAddress">
                </div>

                <div class="form-group">
                    <label for="branchTelNo">Branch Phone Number</label>
                    <input type="text" class="form-control" formControlName="branchTelNo"  [ngClass]="{'is-invalid':branchForm.get('branchTelNo').touched && branchForm.get('branchTelNo').invalid}">
                    <div *ngIf="branchForm.get('branchTelNo').touched&&branchForm.get('branchTelNo').invalid" class="invalid-feedback">
                        <div *ngIf="branchForm.get('branchTelNo').errors.required" >Branch Phone Number is required</div>
                        <div *ngIf="branchForm.get('branchTelNo').errors.branchTelNoIsNotAllowed" >Phone Number must be uniqueness</div>
                        <div *ngIf="branchForm.get('branchTelNo').errors.pattern" >Invalid Phone Number</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="branchEmail">Branch Email</label>
                    <input type="text" class="form-control" formControlName="branchEmail"  [ngClass]="{'is-invalid':branchForm.get('branchEmail').touched && branchForm.get('branchEmail').invalid}">
                    <div *ngIf="branchForm.get('branchEmail').touched&&branchForm.get('branchEmail').invalid" class="invalid-feedback">
                        <div *ngIf="branchForm.get('branchEmail').errors.required" >Branch Email is required</div>
                        <div *ngIf="branchForm.get('branchEmail').errors.branchEmailIsNotAllowed" >Email must be uniqueness</div>
                        <div *ngIf="branchForm.get('branchEmail').errors.email" >Invalid Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="branchFaxNo">Branch Fax Number</label>
                    <input type="text" class="form-control" formControlName="branchFaxNo">
                </div>

            </form>
        </div>
  
    <!-- Modal Footer -->
        <div class="modal-footer">
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!branchForm.valid" (click)="createNewBranch()">Add New</button>
                &nbsp;<button class="btn btn-secondary" data-dismiss="modal">Exit</button>
            </div>
        </div>
      </div>
    </div>
  </div>


<!-- Branch Edit Modal -->
      <div class="modal fade" id="branchEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
      
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="" name="branchEditForm" [formGroup]="branchEditForm">
                    <div class="form-group">
                        <label for="branchEditUnit">Branch Unit</label>
                        <div class="row">
                            <div class="col-8">
                                <!-- <select  name="" id="" class="form-control" formControlName="branchUnit">
                                    <option *ngFor="let unit of getAllUnits" value={{unit.unitId}}>{{unit.name}}</option>
                                </select> -->
                                <tag-input [(ngModel)]="unitsValues" [ngModelOptions]="{standalone: true}"  [removable]='true' placeholder="" [clearOnBlur]="true" secondaryPlaceholder="Enter Units..." clearOnBlur="true" [onlyFromAutocomplete]="true">
                                    
                                        <tag-input-dropdown [showDropdownIfEmpty]="true" [appendToBody]="false"  [autocompleteItems]="allUnitName" ></tag-input-dropdown>
                                   
                                </tag-input>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary" data-target="#unitEditModal" data-toggle="modal" data-dismiss="modal">Add New Unit</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="branchEditName">Branch Name</label>
                        <input type="text" class="form-control" formControlName="branchEditName" [ngClass]="{'is-invalid':branchEditForm.get('branchEditName').touched && branchEditForm.get('branchEditName').invalid}">
                        <div *ngIf="branchEditForm.get('branchEditName').touched&&branchEditForm.get('branchEditName').invalid" class="invalid-feedback">
                            <div *ngIf="branchEditForm.get('branchEditName').errors.required" >Branch Name is required</div>
                            <!-- <div *ngIf="branchForm.get('branchName').errors.branchNameIsNotAllowed" >Branch Name must be uniqueness</div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="branchEditAddress">Branch Address</label>
                        <input type="text" class="form-control" formControlName="branchEditAddress">
                    </div>
    
                    <div class="form-group">
                        <label for="branchEditTelNo">Branch Phone Number</label>
                        <input type="text" class="form-control" formControlName="branchEditTelNo"  [ngClass]="{'is-invalid':branchEditForm.get('branchEditTelNo').touched && branchEditForm.get('branchEditTelNo').invalid}">
                        <div *ngIf="branchEditForm.get('branchEditTelNo').touched && branchEditForm.get('branchEditTelNo').invalid" class="invalid-feedback">
                            <div *ngIf="branchEditForm.get('branchEditTelNo').errors.required" >Branch Phone Number is required</div>
                            <!-- <div *ngIf="branchEditForm.get('branchTelNo').errors.branchTelNoIsNotAllowed" >Phone Number must be uniqueness</div> -->
                            <div *ngIf="branchEditForm.get('branchEditTelNo').errors.pattern" >Invalid Phone Number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="branchEditEmail">Branch Email</label>
                        <input type="text" class="form-control" formControlName="branchEditEmail"  [ngClass]="{'is-invalid':branchEditForm.get('branchEditEmail').touched && branchEditForm.get('branchEditEmail').invalid}">
                        <div *ngIf="branchEditForm.get('branchEditEmail').touched && branchEditForm.get('branchEditEmail').invalid" class="invalid-feedback">
                            <div *ngIf="branchEditForm.get('branchEditEmail').errors.required" >Branch Email is required</div>
                            <!-- <div *ngIf="branchEditForm.get('branchEmail').errors.branchEmailIsNotAllowed" >Email must be uniqueness</div> -->
                            <div *ngIf="branchEditForm.get('branchEditEmail').errors.email" >Invalid Email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="branchEditFaxNo">Branch Fax Number</label>
                        <input type="text" class="form-control" formControlName="branchEditFaxNo">
                    </div>
    
                </form>
            </div>
      
        <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!branchEditForm.valid" (click)="updateBranch()">Update</button>
                    &nbsp;<button class="btn btn-secondary" data-dismiss="modal">Exit</button>
                </div>
            </div>
          </div>
        </div>
      </div>


          <!-- Unit Modal -->
    <div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
      
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="" name="unitForm" [formGroup]="unitForm">
                    <div class="form-group">
                        <label for="unitName">Unit Name</label>
                        <input type="text" class="form-control" formControlName="unitName"  [ngClass]="{'is-invalid':unitForm.get('unitName').touched && unitForm.get('unitName').invalid}">
                        <div *ngIf="unitForm.get('unitName').touched&&unitForm.get('unitName').invalid" class="invalid-feedback">
                            <div *ngIf="unitForm.get('unitName').errors.required" >Unit Name is required</div>
                            <div *ngIf="unitForm.get('unitName').errors.unitNameIsNotAllowed" >Unit Name must be uniqueness</div>
                        </div>
                    </div>
                </form>
            </div>
      
        <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!unitForm.valid" (click)="createNewUnit()">Add New</button>
                    &nbsp;<button class="btn btn-secondary" data-target="#branchModal" data-toggle="modal" data-dismiss="modal">Exit</button>
                </div>
            </div>
          </div>
        </div>
      </div>


                <!-- Unit Edit Modal -->
    <div class="modal fade" id="unitEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
      
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="" name="unitForm" [formGroup]="unitForm">
                    <div class="form-group">
                        <label for="unitName">Unit Name</label>
                        <input type="text" class="form-control" formControlName="unitName"  [ngClass]="{'is-invalid':unitForm.get('unitName').touched && unitForm.get('unitName').invalid}">
                        <div *ngIf="unitForm.get('unitName').touched&&unitForm.get('unitName').invalid" class="invalid-feedback">
                            <div *ngIf="unitForm.get('unitName').errors.required" >Unit Name is required</div>
                            <div *ngIf="unitForm.get('unitName').errors.unitNameIsNotAllowed" >Unit Name must be uniqueness</div>
                        </div>
                    </div>
                </form>
            </div>
      
        <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!unitForm.valid" (click)="createNewUnit()">Add New</button>
                    &nbsp;<button class="btn btn-secondary" data-target="#branchEditModal" data-toggle="modal" data-dismiss="modal">Exit</button>
                </div>
            </div>
          </div>
        </div>
      </div>


                      <!--  Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
      
            <!-- Modal Body -->
            <div class="modal-body">
                <label for="unitName">Are you sure that you want to permanently delete this branch?</label>
            </div>
      
        <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary"  (click)="onDelete()" data-dismiss="modal">Yes</button>
                    &nbsp;<button class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
          </div>
        </div>
      </div>