<!-- <div class="container"> -->
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="Content-wrapper1" style="overflow-y: scroll;">
                        <div class="row" style="margin: 10px;">
                                <div *ngFor="let category of Categories" style="padding: 5px;">
                                    <div class="square pointer" (click)="onCategory(category.cateId)">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <div class="content" >
                                            {{category.cateName}}
                                        </div>  
                                    </div>  
                                </div> 
                                <div style="padding: 5px;">
                                    <div class="square pointer" (click)="getProducts()">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <div class="content" >
                                            All
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div  class="Content-wrapper2" [style.height]="scrHeight" style="overflow-y: scroll;">
                        <div class="row" style="margin: 10px;">
                            <div *ngFor="let product of imageWith" style="padding: 5px;">
                                <div class="pointer" data-target="#cartModal" data-toggle="modal">
                                    <!-- <div *ngIf=retrievedImage> -->
                                        <img width="100" height="100" style="border-radius: 50%;" [src]="product.image">
                                    <!-- </div> -->
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="content">
                                        {{product.product.productName}}
                                        <br>
                                        <div style="font-size: smaller;">
                                            {{product.product.productCode}}
                                        </div>
                                        <div *ngIf="product.product.stockInUnit>10">
                                            <div style="font-size: smaller; color: green;">
                                                {{product.product.stockInUnit}}
                                            </div>
                                        </div>
                                        <div *ngIf="product.product.stockInUnit<=10">
                                            <div style="font-size: smaller; color: red;">
                                                {{product.product.stockInUnit}}
                                            </div>
                                        </div>
                                        <div style="font-size: smaller;">
                                            {{product.product.price|currency:'LKR':'symbol-narrow'}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="Content-wrapper">
                <div *ngIf="cart.length>0" class="col-sm-6" style="margin-right: auto; margin-left: auto;">
                    <a   href="https://www.ou.ac.lk">
                        <img src="../assets/Images/logo_transparent.png" style="display: block;margin-left: auto;margin-right: auto;" class="" alt=""  height="75" width="150"> 
                    </a>
                    <div style="margin-top: 100%; opacity: 0.5; ">
                        Shopping cart is empty
                    </div>
                    <div>
                        <img src="../assets/Images/output-onlinepngtools.png" style="display: block;margin-left: auto;margin-right: auto;opacity: 0.5;" class="" alt=""  height="75" width="150"> 
                    </div>
                </div>
                <div *ngIf="cart.length==0">
                    <div class="row">
                        <div class="col-sm-4" style="font-weight: bold;">
                            Product
                        </div>
                        <div class="col-sm-3" style="font-weight: bold;"> 
                            Quantity
                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-3" style="font-weight: bold;">
                            Price
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->


<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
<div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">

    <!-- Modal Body -->
    <div class="modal-body">
        <!-- <form action="" name="unitForm" [formGroup]="unitForm">
            <div class="form-group">
                <label for="unitName">Unit Name</label>
                <input type="text" class="form-control" formControlName="unitName"  [ngClass]="{'is-invalid':unitForm.get('unitName').touched && unitForm.get('unitName').invalid}">
                <div *ngIf="unitForm.get('unitName').touched&&unitForm.get('unitName').invalid" class="invalid-feedback">
                    <div *ngIf="unitForm.get('unitName').errors.required" >Unit Name is required</div>
                    <div *ngIf="unitForm.get('unitName').errors.unitNameIsNotAllowed" >Unit Name must be uniqueness</div>
                </div>
            </div>
        </form> -->
    </div>

<!-- Modal Footer -->
    <div class="modal-footer">
        <div class="form-group">
            <!-- <button class="btn btn-primary" [disabled]="!unitForm.valid" (click)="createNewUnit()">Add New</button> -->
            &nbsp;<button class="btn btn-secondary" data-toggle="modal" data-dismiss="modal">Exit</button>
        </div>
    </div>
    </div>
</div>
</div>