.Content-wrapper {
    padding: 12px;
    background: lightgray 0% 0% no-repeat padding-box;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px #459bbc4a;
            box-shadow: 0px 0px 20px #459bbc4a;
    padding-bottom: 0 !important;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .Content-wrapper1 {
    padding: 12px;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px #459bbc4a;
            box-shadow: 0px 0px 20px #459bbc4a;
    padding-bottom: 0 !important;
    width: 100%;
    height: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .Content-wrapper2 {
    padding: 12px;
    background: #e7e7e7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px #459bbc4a;
            box-shadow: 0px 0px 20px #459bbc4a;
    padding-bottom: 0 !important;
    width: 100%;
    /* height:450px; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .wrapper{
    /* background: #456173; */
    display: flex;
    justify-content: center;
  }
  .cards {
    background: #DBD0BC;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    height: 125px;
    width: 100%;
    grid-auto-columns: calc(30% - 4rem);
    padding: 5px;
    /* min-height: 25%; */
  }
  .cards-content {
    align-items: center;
    background: lightgray;
    border-radius: 1rem;
    color: #111;
    display: flex;
    width: 100%;
    /* font-weight: 100; */
    justify-content: center;
    /* font-size: 25px; */
    text-transform: uppercase;
  }
  .square {
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 65px; */
  } 
  .square span:nth-child(1){
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid gray;
          border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
          transition: 0.5s;  
          animation: animate 6s linear infinite;     
  }
  .square:hover span:nth-child(1){
          background: rgba(0, 0, 255, 0.8);
          border: none;
  }

  .square span:nth-child(2){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid gray;
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
        transition: 0.5s;  
        animation: animate 4s linear infinite;     
}
.square:hover span:nth-child(2){
        background: rgba(0, 0, 255, 0.8);
        border: none;
}

.square span:nth-child(3){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid gray;
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
        transition: 0.5s;  
        animation: animate2 10s linear infinite;     
}
.square:hover span:nth-child(3){
        background: rgba(0, 0, 255, 0.8);
        border: none;
}
@keyframes animate{
        0%{
                transform: rotate(0deg);
        }
        100%{
                transform: rotate(360deg);
        }
}
@keyframes animate{
        0%{
                transform: rotate(360deg);
        }
        100%{
                transform: rotate(0deg);
        }
}
.content{
        position: relative;
        color: black;
        text-align: center;
        transition: 0.5s;
        /* z-index: 1000; */
}
.pointer {
        cursor: pointer;
      }
