<!-- <div class="container"> -->
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="Content-wrapper1" style="overflow-y: scroll;">
                        <div class="row" style="margin: 10px;">
                                <div *ngFor="let category of Categories" style="padding: 5px;">
                                    <div class="square pointer">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <div class="content">
                                            {{category.cateName}}
                                        </div>
                                    </div>
                                </div> 
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div  class="Content-wrapper2" [style.height]="scrHeight" style="overflow-y: scroll;">
                        <div class="row" style="margin: 10px;">
                            <div *ngFor="let product of Products" style="padding: 5px;">
                                <div class="square pointer">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <div class="content">
                                        {{product.productName}}
                                        <br>
                                        <div style="font-size: smaller;">
                                            {{product.productCode}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="Content-wrapper">
                <div *ngIf=retrievedImage>
                    <img width="120" height="150" [src]="retrievedImage">
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->